/* Menu */
.card.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.view-button {
    text-decoration: none !important;
    font-size: var(--size-xl);
    color: darkgrey !important;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.view-button:hover {
    color: dimgray !important;
    transform: scale(1.1);
}

.view-button.active {
    color: black !important;
}

.view-button.active:hover {
    color: dimgray !important;
    transform: scale(1);
}
