/* Shared elements */
.card:has(.plot-container) {
    padding: 0;
}

.plot-container {
    padding: 1rem;
    font-family: 'Italian Plate', Helvetica, sans-serif;
}

.plot-container.wide {
    padding: 1.5rem 3rem;
}

.plot-title {
    font-size: var(--size-xl) !important;
    color: var(--darkGrey) !important;
    font-weight: bold !important;
    margin-bottom: 10px;
}

.plot-subtitle {
    font-size: var(--size-l) !important;
    color: var(--darkGrey) !important;
    font-weight: normal !important;
    margin-bottom: 30px;
}

.subtitle-label {
    /*padding: 1px 5px;*/
    /*border-radius: 4px;*/
    font-weight: bold;
    text-shadow: 0.5px 0.5px 1px var(--lightGrey);
}

/* Plots */
.export-label {
    /*background-color: var(--exports);*/
    /*color: var(--dimGrey);*/
    color: var(--exports);
}

.import-label {
    /*background-color: var(--imports);*/
    /*color: var(--lightGrey);*/
    color: var(--imports);
}

.balance-label {
    /*background-color: var(--balance);*/
    /*color: var(--lightGrey);*/
    font-weight: normal;
    color: var(--balance);
}

[aria-label="x-axis tick label"],
[aria-label="y-axis label"] text,
[aria-label="y-axis tick label"] {
    font-size: var(--size-m);
    color: var(--midGrey);
    font-family: 'Italian Plate', Helvetica, sans-serif;
}

[aria-label="y-grid"] {
    color: var(--midGrey);
}

/* Tables */
[class^="inputs-"][class$="-table"] thead th {
    z-index: 1;
}

table tr > *:nth-child(2) {
    width: 200px !important;
}

table tr > *:nth-child(n+3) {
    width: 100px !important;
}

table > thead > tr > th > span {
    margin-right: 10px;
}

table > thead > tr > th,
table > tbody > tr > td {
    font-family: 'Italian Plate', Helvetica, sans-serif;
}

/* Bottom-panel */
.bottom-panel {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
}

.text-section {
    margin: 0;
    flex: 1;
}

.plot-note {
    font-size: var(--size-s);
    margin: 0 0 5px;
    max-width: 100% !important;
}

.logo-section {
    width: var(--size-xl);
    height: var(--size-xl);
    flex-shrink: 0;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}

.logo-section:hover {
    opacity: 0.6;
}
