/* Settings */
select, input {
    cursor: pointer;
}

.card.settings {
    padding: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.settings-group {
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}

.settings-group > form,
.range-input {
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: start !important;
    width: 225px !important;
    margin: 0 !important;
}

.range-input > label {
    flex-shrink: 0;
    align-self: start;
    padding: 5px 0 4px 0;
    width: 100px;
    margin-right: 6.5px;
}

.range-input > div {
    width: 100%;
}

.settings-group > form > div {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start !important;
}

.settings-group form > label {
    font-size: var(--size-m);
    font-weight: bold;
    max-width: 90px !important;
}

.settings-group form > select {
    width: 100% !important;
}

form[class$="-checkbox"] > div:has(> label:nth-of-type(3):last-of-type) {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}

[class^="inputs-"] {
    font-family: Colfax, Helvetica, sans-serif !important;
}
