@import "@one-data/observable-themes/styles/index.css";
@import "./tailwind.generated.css";

/* Chart text colours */
.plot-title,
.plot-subtitle {
  color: #000000;
}

.plot-note {
  color: #3d3d3d;
}

[aria-label="x-axis tick label"],
[aria-label="y-axis label"] text,
[aria-label="y-axis tick label"],
[aria-label="y-grid"] {
  color: #3d3d3d;
}